  <div>
    <div *ngIf="usuario.id" class="edit-form">
      <h4>Usuario</h4>
      <form>
      <div class="form-group">
        <label for="nome">Nome do Usuario</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          required
          [(ngModel)]="usuario.nome"
          name="nome"
        />
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="text"
          class="form-control"
          id="senha"
          required
          [(ngModel)]="usuario.senha"
          name="senha"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          [(ngModel)]="usuario.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="perfil">Perfil do Usuario</label>
        <input
          type="text"
          class="form-control"
          id="perfil"
          required
          [(ngModel)]="usuario.perfil"
          name="perfil"
        />
      </div>

      </form>

      <button class="badge badge-danger mr-2" (click)="deleteUsuario()">
        Excluir
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUsuario()"
      >
        Gravar
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!usuario.id">
      <br />
      <p>Não foi possível carregar essa entidade de Usuario...</p>
    </div>
  </div>
