  <div>
    <div *ngIf="perfilUsuario.id" class="edit-form">
      <h4>PerfilUsuario</h4>
      <form>
      <div class="form-group">
        <label for="tipo">Tipo de perfil de usuario</label>
        <input
          type="text"
          class="form-control"
          id="tipo"
          required
          [(ngModel)]="perfilUsuario.tipo"
          name="tipo"
        />
      </div>

      </form>

      <button class="badge badge-danger mr-2" (click)="deletePerfilUsuario()">
        Excluir
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updatePerfilUsuario()"
      >
        Gravar
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!perfilUsuario.id">
      <br />
      <p>Não foi possível carregar essa entidade de PerfilUsuario...</p>
    </div>
  </div>
